*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
  To center the canvas
 */
/* body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */
